.Rproj.user
.Rhistory
.RData
.Ruserdata
# 'data' folder #
data/

# output folder #
output/

# Word files #
*.[dD][oO][cC][xX]

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS][xXmMtT]

# SPSS formats #
*.[sS][aA][vV]
*.[zZ][sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]
